.box{
	display: flex;
	justify-content: center;
	flex-direction: column;
    background-image: url("https://wallpaperaccess.com/full/773716.jpg");
	padding: 20px;
}

*{
	background: none;
}
.panelForm{
	display: flex;
	justify-content: center;
	flex-direction: row ;

}
.panelFormAlta{
    background-color:#11ADD6;

}
.panelFormBusqueda{
	flex-grow: 4;
    background-color:#11ADD6 ;
	justify-content: center;
}

.box h1 {
	color: #24303c;
	
}


