table, th, td {
    border-collapse: collapse;
 
  }



  th {
      color: #ffff;
      background: #24303c;
      padding: 4px;
  }

  table {

    margin: 20px 0;
    box-shadow: 7px 13px 27px #000;
    border: 1px #000;

  }

 td{
    background:#294fa0;
    color: white;
  }