.box{
	display: flex;
	justify-content: center;
	flex-direction: column;
    background-color:#11ADD6;
	padding: 20px;
}
.panelForm{
	display: flex;
	justify-content: center;
	flex-direction: row ;

}
.panelFormAlta{
    background-color:#11ADD6;

}
.panelFormBusqueda{
	flex-grow: 4;
    background-color:#11ADD6 ;
	justify-content: center;
}

.box h1 {
	color: #24303c;
	
}
