.App {
  text-align: center;
 
}

*{
  background-image: url("https://i.pinimg.com/originals/a0/b5/18/a0b518d84aee81ed55819b9775435dfd.jpg");
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}





@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.form-register{
  width:400px;
  background-color: #24303c;
  padding: 30px;
  margin:auto;
  margin-top: 100px;
  
}


.controls{
  width: 100%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  color: white;
}

.select{

  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  color: white;
}

.form-register .botons{
  width: 100%;
  background: #1f53c5;
  border: none;
  padding: 12px;
  color:white;

}